<div class="container">
  <h1>Login</h1>
  <form id="loginForm">
    <label for="userName">Username:</label>
    <input type="text" id="userName" name="userName" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
  </form>
  <div id="message" class="message"></div>
  <div class="login-link">
    Dont have an account? <a href="register">Register</a>
  </div>
</div>

<script src="/js/login.js"></script>