<h2>Create a New Post About Your Route or Plan</h2>
<div class="create-route-container">
  {{!-- <div class="map-container">
    <!-- This div would contain the Mapbox map -->
    <p style="text-align: center; padding-top: 200px;">Mapbox Map would be embedded here</p>
  </div> --}}
  <div class="route-form">
    <form action="/post/create" method="POST" name="createPost" id="createPost" enctype="multipart/form-data">
      <div class="form-group">
        <label for="postTitle" class="form-labels">Post Title</label>
        <input type="text" id="postTitle" name="postTitle" required>
      </div>
      <div class="form-group">
        <label for="postDescription" class="form-labels">Brief Description</label><br>
        <textarea id="postDescription" name="postDescription" rows="3" 
        placeholder="Enter a brief description of your route/plan"
        required></textarea>
      </div>
      <div class="form-group">
        <label for="postContent" class="form-labels">Post Content</label><br>
        <textarea id="postContent" name="postContent" rows="10" 
        placeholder="Tell us more about what your route/plan entails"
         required></textarea>
      </div>
      <div class="form-group">
        <label for="postPictures">Pictures(up to 5):</label>
        <input type="file" name="postPictures" id="postPictures" accept="image/jpeg, image/png" multiple>
      </div>
      <div class="form-group">
        <p>If it is somewhere you plan to visit, choose "Plan"<br>
        If it is somewhere you have visited or only hypothetical, choose "Route"
        </p>
        <label for="postType" class="form-labels">Plan/Route</label>
        <select id="postType" name="postType">
          <option value="plan">Plan</option>
          <option value="route">Route</option>
        </select>
      </div>
      <div class="form-group" id = "start-div">
        <label for="startDate" class="form-labels">Start Date</label>
        <input type="date" id="startDate" name="startDate" required>
      </div>
      <div class="form-group" id = "end-div">
        <label for="endDate" class="form-labels">End Date</label>
        <input type="date" id="endDate" name="endDate" required>
      </div>
      <div class= "form-group" id = "errorDiv" name = "errorDiv" hidden>
        <h4>Submission Errors:</h4>
        {{!-- Frontend validation error --}}
      </div>
      <button type="submit" class="btn" name="submitBTN" id="submitBTN" >Create Route</button>
    </form>
  </div>
</div>

<script src="/js/editPost.js"></script>